<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
      <title th:text="${visitor} ? ${visitor} + ', I hope you interested to hire met' : 'This is my CV'" /> 
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
      <p>Basic Information:</p>
      <li>Name: Dipo Anugrah Supriadi</li>
      <li>Birthdate: 15 Desember 1996</li>
      <li>Birthplace: Bogor</li>
      <li>Cimanggis, Depok</li>
      
      <p>Education History:</p>
      <li>SMPN 9 Jakarta - 2012</li>
      <li>SMAN 39 Jakarta - 2014</li>
      <li>Universitas Indonesia Fakultas Ilmu Komputer - Now</li>

      <p>Summary</p>
      <p>
        An undergraduate Student of Computer Science Universitas Indonesia with a great desire to learn
        new thing that related with IT. A quick learner and have a good problem-solving skill that able to
        work with a team. Have a great responsibility in completing every work to be done. Interested in topic 
        Software Quality Assurance, back-end developer and front-end developer.
      </p>
    
  </body>
</html>
